@import "vars";

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body{
    color: #000000;
    font-family: $roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    background-image: url(../img/poznyak-eater.jpg);
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-size: cover;
}

.main{
    padding: 50px 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

h1, 
h2, 
h3{
    margin: 0;
}

.bg{
    background-color: #fff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.32);
    border-radius: 4px;
}

.action{
    padding-top: 18px;
    background-color: inherit;
    color: $link;
    outline: none;
    border: 0;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        color: indigo;
        transition: all 0.3s;
    }
}