@import "vars";

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    color: #000000;
    font-family: $roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline-block;
}

h1, h2, h3{
    margin: 0;
}